/* caudex-700 - latin */
@font-face {
    font-family: 'Caudex';
    font-style: normal;
    font-weight: 700;
    src: url('./caudex-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('./caudex-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./caudex-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./caudex-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('./caudex-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./caudex-v15-latin-700.svg#Caudex') format('svg'); /* Legacy iOS */
  }