<div class="FAQ">
    <h1 class="titlePage">FAQ’s</h1>
    <div class="FAQ__questions">
        <svg width="34" height="238" viewBox="0 0 34 238" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M34 0.40625H14C6.26801 0.40625 0 6.67427 0 14.4063V223.171C0 230.903 6.26801 237.171 14 237.171H34V231.171H14C9.58172 231.171 6 227.589 6 223.171V14.4063C6 9.98798 9.58172 6.40625 14 6.40625H34V0.40625Z"
                fill="#66D6A0" />
        </svg>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales ?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
            <li>Lorem ipsum dolor sit amet?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales ?</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing ?</li>
        </ul>
        <svg width="34" height="238" viewBox="0 0 34 238" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M34 0.40625H14C6.26801 0.40625 0 6.67427 0 14.4063V223.171C0 230.903 6.26801 237.171 14 237.171H34V231.171H14C9.58172 231.171 6 227.589 6 223.171V14.4063C6 9.98798 9.58172 6.40625 14 6.40625H34V0.40625Z"
                fill="#66D6A0" />
        </svg>
    </div>
    <div class="FAQ-accardion">
        <div class="FAQ-accardion__item">
            <div class="FAQ-accardion__question">
                <div class="FAQ-accardion__shevron">
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.0005 -8.74228e-07L20.0005 9.2L16.8894 12L10.0005 5.6L3.1116 12L0.000488526 9.2L10.0005 -8.74228e-07Z"
                            fill="#242424" />
                    </svg>
                </div>
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales ?
                </div>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus.
                Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum,
                libero augue venenatis leo, in maximus ipsum dui et est. In in aliquet libero. In ac enim non lectus
                convallis feugiat.
            </div>
        </div>
        <div class="FAQ-accardion__item">
                <div class="FAQ-accardion__question">
                    <div class="FAQ-accardion__shevron">
                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.0005 -8.74228e-07L20.0005 9.2L16.8894 12L10.0005 5.6L3.1116 12L0.000488526 9.2L10.0005 -8.74228e-07Z"
                                fill="#242424" />
                        </svg>
                    </div>
                    <div class="question">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                    </div>
                </div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus.
                    Fusce in ligula ut leo eleifend obortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum,
                    libero augue venenatis leo, in maximus ipsum dui et est.
                </div> 
        </div>
        <div class="FAQ-accardion__item">
            <div class="FAQ-accardion__question">
                <div class="FAQ-accardion__shevron">
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.0005 -8.74228e-07L20.0005 9.2L16.8894 12L10.0005 5.6L3.1116 12L0.000488526 9.2L10.0005 -8.74228e-07Z"
                            fill="#242424" />
                    </svg>
                </div>
                <div class="question">
                    Lorem ipsum dolor sit amet?
                </div>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus.
                Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum,
                libero augue venenatis leo, in maximus ipsum dui et est. In in aliquet libero. In ac enim non lectus
                convallis feugiat.
            </div>
        </div>
        <div class="FAQ-accardion__item">
            <div class="FAQ-accardion__question">
                <div class="FAQ-accardion__shevron">
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.0005 -8.74228e-07L20.0005 9.2L16.8894 12L10.0005 5.6L3.1116 12L0.000488526 9.2L10.0005 -8.74228e-07Z"
                            fill="#242424" />
                    </svg>
                </div>
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales ?
                </div>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus.
                Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum,
                libero augue venenatis leo, in maximus ipsum dui et est.
            </div>
        </div>
        <div class="FAQ-accardion__item">
            <div class="FAQ-accardion__question">
                <div class="FAQ-accardion__shevron">
                    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.0005 -8.74228e-07L20.0005 9.2L16.8894 12L10.0005 5.6L3.1116 12L0.000488526 9.2L10.0005 -8.74228e-07Z"
                            fill="#242424" />
                    </svg>
                </div>
                <div class="question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing ?
                </div>
            </div>
            <div class="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel cursus.
                Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac finibus rutrum,
                libero augue venenatis leo, in maximus ipsum dui et est.
            </div>
        </div>

    </div>
</div>