<section class="header">
    <navigation></navigation>
    <div class="content-container">
        <div class="header-content">
            <h1>FOCUS ON THE PRODUCT AND LET US DO THE REST!</h1>
            <p>We’re an Indian software development
                company focused on just one thing -
                offshore software development services.
                We have 16+ years of experience and a team of 450+
                developers working efficiently to deliver unique solutions
                to start-ups, software development companies, enterprises,
                and digital agencies to simplify their IT outsourcing experience
                & reduce time/cost to market.
            </p>
            <div class="header-content__buttons">
                <button type="button"> <%= buttMore %> </button>
                <button type="button"> <%= buttContact %> </button>
            </div>
            <div class="header-content__slider">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="8.5" stroke="white" stroke-width="3"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="8.5" stroke="white" stroke-width="3"/>
                </svg>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="10" cy="10" r="8.5" stroke="white" stroke-width="3"/>
                </svg>
            </div>
        </div>
    </div>

</section>