<div class="header-navigation">
    <div class="header-navigation-logo"></div>
    <div class="header-navigation__links">
        <ul class="header-navigation__list">
            <li>
                <a href="services.html">SERVICES</a>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 6L2.41095e-10 1.4L1.55556 0L5 3.2L8.44444 0L10 1.4L5 6Z" fill="white" />
                </svg>
                <ul class="services-list">
                    <li>MOBILE APPLICATION DEVELOPMENT</li>
                    <li>GAME DEVELOPMENT OUTSOURCING</li>
                    <li>VR APP DEVELOPMENT</li>
                    <li>DEDICATED DEVELOPERS</li>
                    <li> SDK DEVELOPMENT</li>
                    <li>3D MODELING SERVICES</li>
                    <li> AR APP DEVELOPMENT</li>
                </ul>
            </li>
            <li>
                <a href="technologies.html">TECHNOLOGIES</a>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 6L2.41095e-10 1.4L1.55556 0L5 3.2L8.44444 0L10 1.4L5 6Z" fill="white" />
                </svg>
                <ul class="technologies-list">
                    <li>Android technologies</li>
                    <li>ios technologies</li>
                    <li>unity technologies</li>
                </ul>
            </li>
            <li><a href="products.html">PRODUCTS</a></li>
            <li><a href="">PORTFOLIO</a></li>
            <li><a href="">BLOG</a></li>
            <li>
                <a href="">ABOUT US</a>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 6L2.41095e-10 1.4L1.55556 0L5 3.2L8.44444 0L10 1.4L5 6Z" fill="white" />
                </svg>
                <ul class="about-us-list">
                    <li>core team</li>
                    <li>join the team</li>
                    <li>contacts</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="header-navigation__contacts">
        <%- include('./button.ejs', { title: 'CONTACT US' }) %>
    </div>
</div>