<section class="partners">
    <h1>Partners</h1>
    <div class="partners-items">
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
        <div class="partners-items__item"></div>
    </div>

</section>