<div class="products-items products-items-portfolio">
    <div class="page">
        <div class="products-items-item portfolio">
            <div class="products-items-item__icon"></div>
            <div class="products-items-item__content">
                <h1>Ori and the will of the wisps</h1>
                <div class="products-items-item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum, libero augue venenatis leo, in maximus ipsum dui et est. In in aliquet libero.
                        In ac enim non lectus convallis feugiat.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum.
                    </p>
                </div>
            </div>
        </div>
        <div class="products-items-item portfolio">
            <div class="products-items-item__content">
                <h1>tin hearts</h1>
                <div class="products-items-item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum, libero augue venenatis leo, in maximus ipsum dui et est. In in aliquet libero.
                        In ac enim non lectus convallis feugiat.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum.
                    </p>
                </div>
            </div>
            <div class="products-items-item__icon"></div>
        </div>
        <div class="products-items-item portfolio">
            <div class="products-items-item__icon"></div>
            <div class="products-items-item__content">
                <h1>stickman trials</h1>
                <div class="products-items-item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum, libero augue venenatis leo, in maximus ipsum dui et est. In in aliquet libero.
                        In ac enim non lectus convallis feugiat.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum.
                    </p>
                </div>
            </div>
        </div>
        <div class="products-items-item portfolio">
            <div class="products-items-item__content">
                <h1>tin hearts</h1>
                <div class="products-items-item__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum, libero augue venenatis leo, in maximus ipsum dui et est. In in aliquet libero.
                        In ac enim non lectus convallis feugiat.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales eleifend dolor vel
                        cursus. Fusce in ligula ut leo eleifend lobortis fringilla non elit. Vivamus mollis, odio ac
                        finibus rutrum.
                    </p>
                </div>
            </div>
            <div class="products-items-item__icon"></div>
        </div>
    </div>
    <%- include('./discuss.ejs') %>
</div>