<div class="products-items">
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>Ultimate mobile pro</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>android native pro</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>ios native pro</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>after effects importer</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>google doc localization</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>google tag manager</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>texture packer pro</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>amazon native</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
    <div class="products-items__item">
        <div class="products-items__icon"></div>
        <h1>google analytics sdk</h1>
        <div class="products-items__text">
            This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
        </div>
    </div>
</div>