<div class="raiting">
    <div class="raiting__icon"></div>
    <div class="raiting-stars">
        <div class="raiting-stars__value">3.4</div>
        <div class="raiting-stars__body">
            <div class="raiting-stars__active"></div>
            <div class="raiting-stars__items">
                <input type="radio" name="raiting" value="1" class="raiting-stars__item">
                <input type="radio" name="raiting" value="2" class="raiting-stars__item">
                <input type="radio" name="raiting" value="3" class="raiting-stars__item">
                <input type="radio" name="raiting" value="4" class="raiting-stars__item">
                <input type="radio" name="raiting" value="5" class="raiting-stars__item">
            </div>
        </div>
        <div class="raiting-stars__revies">2 reviews</div>
    </div>
    <button type="button">Check out reviews</button>
</div>