<div class="recent-projects">
    <h1 class="titlePage">Recent projects</h1>
    <div class="recent-projects-items">
        <div class="shevron">
            <svg width="28" height="44" viewBox="0 0 28 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.874999 22L21 0.125L27.125 6.93056L13.125 22L27.125 37.0694L21 43.875L0.874999 22Z"
                    fill="#84B5FF" />
            </svg>
        </div>
        <div class="recent-projects-item">
            <div class="recent-projects-item__img"></div>
            <div class="recent-projects-item__content">
                <div class="recent-projects-item__tite">
                    Ori and the will of the wisps
                </div>
                <div class="recent-projects-item__text">
                    This plugin provides easy and flexible functionality of iOS native functions which are not natively
                    available from Unity.
                </div>
            </div>
        </div>
        <div class="recent-projects-item">
            <div class="recent-projects-item__img"></div>
            <div class="recent-projects-item__content">
                <div class="recent-projects-item__tite">
                    tin hearts
                </div>
                <div class="recent-projects-item__text">
                    This plugin provides easy and flexible functionality of iOS native functions which are not natively
                    available from Unity.
                </div>
            </div>
        </div>
        <div class="recent-projects-item">
            <div class="recent-projects-item__img"></div>
            <div class="recent-projects-item__content">
                <div class="recent-projects-item__tite">
                    stickman trials
                </div>
                <div class="recent-projects-item__text">
                    This plugin provides easy and flexible functionality of iOS native functions which are not natively
                    available from Unity.
                </div>
            </div>
        </div>
        <div class="shevron">
            <svg width="28" height="44" viewBox="0 0 28 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.874999 22L21 0.125L27.125 6.93056L13.125 22L27.125 37.0694L21 43.875L0.874999 22Z"
                    fill="#84B5FF" />
            </svg>
        </div>
    </div>
</div>