<div class="recent-projects">
    <h1 class="titlePage">Recent projects</h1>
    <div class="recent-projects-items">
        <div class="recent-projects-item">
            <div class="recent-projects-item__img"></div>
            <div class="recent-projects-item__content">
                <div class="recent-projects-item__tite">
                    Ori and the will of the wisps
                </div>
                <div class="recent-projects-item__text">
                    This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
                </div>
            </div>
        </div>
        <div class="recent-projects-item">
            <div class="recent-projects-item__img"></div>
            <div class="recent-projects-item__content">
                <div class="recent-projects-item__tite">
                    tin hearts
                </div>
                <div class="recent-projects-item__text">
                    This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
                </div>
            </div>
        </div>
        <div class="recent-projects-item">
            <div class="recent-projects-item__img"></div>
            <div class="recent-projects-item__content">
                <div class="recent-projects-item__tite">
                    stickman trials
                </div>
                <div class="recent-projects-item__text">
                    This plugin provides easy and flexible functionality of iOS native functions which are not natively available from Unity.
                </div>
            </div>
        </div>
    </div>            
</div>