<div class="servicesIcons">
    <h1 class="titlePage">SERVICES</h1>
    <div class="services-icons">
        <div class="services-icons__icon"></div>
        <div class="services-icons__icon"></div>
        <div class="services-icons__icon"></div>
        <div class="services-icons__icon"></div>
        <div class="services-icons__icon"></div>
        <div class="services-icons__icon"></div>
        <div class="services-icons__icon"></div>
    </div>
</div>