
        <section class="home-page">
            <header></header>
            <main>
                <div class="home">
                    <section class="technologies">
                        <h1>Technologies</h1>
                        <p><span class="first-word">Stan’s</span> <span class="second-word">Assets</span> is a
                            team of developers that
                            are committed to developing high
                            quality and engaging entertainment
                            software
                        </p>
                        <div class="technologies-platforms">
                            <div class="technologies-platforms-icons">
                                <div class="technologies-platforms-icons__icon">
                                    <svg width="36" height="40" viewBox="0 0 36 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M31.5934 0L17.103 4.25745L14.9583 8.40732L10.6065 8.37177L0 20.0025L10.6065 31.6314L14.9562 31.5957L17.1055 35.7428L31.5934 40L35.4747 24.1168L33.2694 20.0025L35.4747 15.8888L31.5934 0ZM15.3074 9.07505L26.3917 5.95111L20.029 18.0379H7.30157L15.3074 9.07505ZM15.3074 30.9277L7.30157 21.9651H20.029L26.3917 34.0515L15.3074 30.9277ZM29.4936 32.0868L23.1287 20.0025L29.4936 7.91355L32.5672 20.0025L29.4936 32.0868Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <div class="technologies-platforms-icons__icon">
                                    <svg width="33" height="40" viewBox="0 0 33 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M6.56 13.3333L6.56164 29.0733C6.56164 30.5083 7.70308 31.6667 9.11512 31.6667H9.84V37.57C9.84 38.91 10.9995 40 12.3164 40C13.6382 40 14.76 38.91 14.76 37.5683V31.6667H18.04V37.57C18.04 38.91 19.1995 40 20.518 40C21.8399 40 22.96 38.91 22.96 37.5683V31.6667L23.6882 31.665C25.0953 31.665 26.24 30.505 26.24 29.07V13.3333H6.56ZM32.8 15.785C32.8 14.4433 31.6602 13.3333 30.34 13.3333C29.0198 13.3317 27.88 14.445 27.88 15.7867V25.9633C27.88 27.3067 29.0182 28.3333 30.34 28.3333C31.6602 28.3333 32.8 27.3083 32.8 25.9633V15.785ZM4.92 15.785C4.92 14.4433 3.7802 13.3333 2.46 13.3333C1.1398 13.3317 0 14.445 0 15.7867V25.9633C0 27.3067 1.13816 28.3333 2.46 28.3333C3.7802 28.3333 4.92 27.3083 4.92 25.9633V15.785ZM21.2396 3.59833L22.7812 0.5C22.8928 0.28 22.7501 0 22.5139 0C22.4057 0 22.3007 0.0633333 22.245 0.175L20.6886 3.305C18.1778 2.07667 14.8764 1.95167 12.113 3.305L10.555 0.175C10.5009 0.0633333 10.396 0 10.2861 0C10.0499 0 9.90724 0.28 10.0188 0.5L11.5604 3.59833C8.53456 5.32167 6.56 7.905 6.56 11.665H26.24C26.24 7.905 24.2654 5.32167 21.2396 3.59833ZM12.3016 8.33333C11.849 8.33333 11.48 7.96 11.48 7.5C11.48 7.04333 11.849 6.66667 12.3016 6.66667C12.7543 6.66667 13.12 7.04333 13.12 7.5C13.12 7.96 12.7543 8.33333 12.3016 8.33333ZM20.4984 8.33333C20.0457 8.33333 19.68 7.96 19.68 7.5C19.68 7.04333 20.0457 6.66667 20.4984 6.66667C20.951 6.66667 21.32 7.04333 21.32 7.5C21.32 7.96 20.951 8.33333 20.4984 8.33333Z"
                                            fill="white" />
                                    </svg>
                                </div>
                                <div class="technologies-platforms-icons__icon">
                                    <svg width="32" height="38" viewBox="0 0 32 38" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M31.16 27.8787C29.9354 31.4888 26.2694 37.8809 22.4928 37.9506C19.9876 37.9996 19.1821 36.4416 16.3185 36.4416C13.4564 36.4416 12.5606 37.9031 10.1924 37.9981C6.18526 38.1548 0 28.7717 0 20.5887C0 13.0724 5.15386 9.34672 9.65648 9.27863C12.0714 9.2343 14.3523 10.9333 15.8246 10.9333C17.3031 10.9333 20.0733 8.8907 22.9852 9.18996C24.2035 9.24222 27.6265 9.68873 29.8232 12.9537C23.9948 16.8203 24.9031 24.9066 31.16 27.8787ZM23.0241 0C18.6212 0.180506 15.0285 4.87524 15.5301 8.7577C19.5996 9.07913 23.504 4.44298 23.0241 0Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <p>
                            Our engineers develop applications for the most popular platforms.
                        </p>
                        <raiting></raiting>
                    </section>
                    <section class="services">
                        <h1>Services</h1>
                        <div class="services-content">
                            <div class="services-content-item">
                                <h2>GAME DEVELOPMENT</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                                <h2>SDK Development</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                            <div class="services-content-item">
                                <h2>3D Modeling services</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                            </div>
                            <div class="services-content-item">
                                <h2>VR App Development</h2>
                                <div class="services-content-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis dapibus purus,
                                    viverra
                                    porta velit. Nam eleifend, dolor a condimentum ullamcorper, ligula nunc elementum
                                    mi, et
                                    mollis odio ligula eu felis. Vestibulum a libero lorem. Nulla vestibulum id elit in
                                    ullamcorper. Fusce pellentesque tortor velit, eu rutrum nunc eleifend quis. Fusce
                                    dignissim, lectus ut tristique convallis, leo justo tempus erat, at volutpat arcu
                                    tellus
                                    eget sapien. Aliquam non ligula in ligula malesuada venenatis.
                                    Fusce lacus felis, efficitur ut euismod ac, gravida sed tortor. Suspendisse vitae
                                    imperdiet elit, at viverra magna. Aenean ut libero ut arcu maximus faucibus ut ut
                                    sapien.
                                </div>
                            </div>
                        </div>
                    </section>
                    <discuss></discuss>
                    <section class="achievements">
                        <h1>achievements</h1>
                        <div class="achievements-items">
                            <div class="achievements-items__item"></div>
                            <div class="achievements-items__item"></div>
                            <div class="achievements-items__item"></div>
                            <div class="achievements-items__item"></div>
                        </div>
                    </section>
                    <section class="partners">
                        <h1>Partners</h1>
                        <div class="partners-items">
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                            <div class="partners-items__item"></div>
                        </div>
                    </section>
                    <section class="active-contacts">
                        <h1>contacts</h1>
                        <p>We are open for dialog and you are welcome to share your opinions or thoughts with us</p>
                        <p>Hit us up any time through email with any idea and help us turn your great ideas into
                            brilliant
                            projects</p>
                        <div class="active-contacts-company">
                            <div class="active-contacts-company-items">
                                <div class="active-contacts-company-items__item">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_14235_2286)">
                                            <path
                                                d="M12 2C8.13 2 5 5.13 5 9C5 14.25 12 22 12 22C12 22 19 14.25 19 9C19 5.13 15.87 2 12 2ZM12 11.5C10.62 11.5 9.5 10.38 9.5 9C9.5 7.62 10.62 6.5 12 6.5C13.38 6.5 14.5 7.62 14.5 9C14.5 10.38 13.38 11.5 12 11.5Z"
                                                fill="#276ED8" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_14235_2286">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Ukraine, Kyiv, Rodyny Kristeriv 20B, office 188
                                </div>
                                <div class="active-contacts-company-items__item">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_14235_2313)">
                                            <path
                                                d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z"
                                                fill="#276ED8" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_14235_2313">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    +38 (093) 345 56 76
                                </div>
                                <div class="active-contacts-company-items__item">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12.0025 2H11.9975C6.48375 2 2 6.485 2 12C2 14.1875 2.705 16.215 3.90375 17.8612L2.6575 21.5763L6.50125 20.3475C8.0825 21.395 9.96875 22 12.0025 22C17.5162 22 22 17.5138 22 12C22 6.48625 17.5162 2 12.0025 2ZM17.8212 16.1213C17.58 16.8025 16.6225 17.3675 15.8587 17.5325C15.3363 17.6437 14.6537 17.7325 12.3562 16.78C9.4175 15.5625 7.525 12.5763 7.3775 12.3825C7.23625 12.1887 6.19 10.8013 6.19 9.36625C6.19 7.93125 6.91875 7.2325 7.2125 6.9325C7.45375 6.68625 7.8525 6.57375 8.235 6.57375C8.35875 6.57375 8.47 6.58 8.57 6.585C8.86375 6.5975 9.01125 6.615 9.205 7.07875C9.44625 7.66 10.0337 9.095 10.1038 9.2425C10.175 9.39 10.2463 9.59 10.1462 9.78375C10.0525 9.98375 9.97 10.0725 9.8225 10.2425C9.675 10.4125 9.535 10.5425 9.3875 10.725C9.2525 10.8837 9.1 11.0538 9.27 11.3475C9.44 11.635 10.0275 12.5937 10.8925 13.3637C12.0087 14.3575 12.9137 14.675 13.2375 14.81C13.4787 14.91 13.7662 14.8863 13.9425 14.6988C14.1663 14.4575 14.4425 14.0575 14.7238 13.6638C14.9237 13.3813 15.1763 13.3462 15.4412 13.4462C15.7113 13.54 17.14 14.2462 17.4338 14.3925C17.7275 14.54 17.9212 14.61 17.9925 14.7338C18.0625 14.8575 18.0625 15.4388 17.8212 16.1213Z"
                                            fill="#276ED8" />
                                    </svg>
                                    +38 (093) 345 56 77
                                </div>
                                <div class="active-contacts-company-items__item">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M21.4049 14.1108C22.8518 7.6098 17.1558 1.70394 10.4666 2.83766C6.83519 0.584365 2 3.13067 2 7.45081C2 8.45551 2.27722 9.39612 2.75925 10.2069C1.41475 16.7229 7.15737 22.5438 13.8407 21.3327C18.5652 23.8307 23.7858 18.8488 21.4049 14.1108ZM15.0462 18.0314C13.2913 18.7531 10.4033 18.7573 8.65588 17.8425C6.16419 16.5139 5.7213 13.5231 7.87083 13.5231C9.49088 13.5231 8.97806 15.4119 10.6139 16.1818C11.3649 16.5289 12.9791 16.5647 13.9173 15.9321C14.8439 15.312 14.759 14.3364 14.2553 13.8703C12.9208 12.6383 9.1021 13.1278 7.35634 10.971C6.59793 10.0354 6.45474 8.38476 7.38714 7.18777C9.01219 5.09679 13.7808 4.96943 15.8312 6.54849C17.7244 8.01351 17.2132 9.95799 15.6856 9.95799C13.8482 9.95799 14.8139 7.55402 11.8477 7.55402C9.69735 7.55402 8.85152 9.08314 10.3658 9.8273C12.4188 10.847 17.6503 10.5065 17.6503 14.4912C17.6461 16.1494 16.6296 17.3855 15.0462 18.0314Z"
                                            fill="#276ED8" />
                                    </svg>
                                    Stanassets
                                </div>
                                <div class="active-contacts-company-items__item">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_14235_2308)">
                                            <path
                                                d="M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 8L12 13L4 8V6L12 11L20 6V8Z"
                                                fill="#276ED8" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_14235_2308">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    stanAssets@gmail.com
                                </div>
                                <div class="active-contacts-company-items__item">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_14235_2291)">
                                            <path
                                                d="M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z"
                                                fill="#276ED8" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_14235_2291">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    facebook.com/Stanassets
                                </div>
                            </div>
                            <div class="active-contacts-company__form">
                                <form action="#" method="post" enctype="application/x-www-form-urlencoded">
                                    <input type="text" placeholder="Name">
                                    <input type="email" placeholder="Email">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="button">Send request</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <footer></footer>
        </section>
    </div>
</body>