$font-size: 1rem;
$font-color: lch(20 40 35);

html {
  font-size: $font-size;
  color: $font-color;
}

p{
  display: block;
  width: 200px;
  height: 200px;
  background: url('./images/image.png') 0 0/100% 100% no-repeat;
}