.discuss {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 665px;
    background: url("images/discuss/Vector6.svg") center/cover no-repeat,
        url("images/discuss/Vector5.svg") 0 0/100% 100% no-repeat;
    margin-bottom: 81px;
    & h1 {
        font-family: "Harabara";
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff !important;
        margin-bottom: 16px;
    }
    & h2 {
        font-family: "Montserrat";
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
    }
    & button{ 
        margin-top: 36px;
        background: #06b25f;
        text-transform: uppercase;
    }
}
