//header

$navigatePadding: 0 125px;

.MontserratWeight {
    font-family: "MontserratWeight";
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.header-navigation {
    position: absolute;
    padding: $navigatePadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    &-logo {
        width: 208px;
        height: 52px;
        background: url("images/logo.svg");
    }
    &__links {
        & ul {
            display: flex;
            justify-content: space-between;
            width: 685px;
            padding-top: 15px;
            & li {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                &:hover::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    left: 0;
                    right: 0;
                    bottom: -5px;
                    background-color: #00A4E8;;
                }
                & svg {
                    transform: rotate(-180deg);
                }
                & a {
                    @extend .MontserratWeight;
                    line-height: 20px;
                    margin-right: 5px;
                }
            }
            & .active{
                & svg{
                    transform: rotate(0deg);
                    transition: transform 0.65s ease-in-out;
                } 
            } 
        }
    }
    &__contacts {
        margin-top: 15px;
    }
}

.services .header-navigation {
    &-logo {
        width: 208px;
        height: 52px;
        background: url("images/title.svg");
    }
    & a {
        color: #0d6eb7 !important;
    }
    & svg path {
        fill: #0d6eb7;
    }

    & button {
        border: 2px solid #06b25f;
        color: rgba(6, 178, 95, 1);
    }
}
