//header

$navigatePadding: 0 125px;

.MontserratWeight {
    font-family: "MontserratWeight";
    font-size: 16px;
    color: rgb(255, 255, 255);
}


.header {
    height: 100%;
    width: 100%;
    .content-container {
        padding: $navigatePadding;
        .header-content {
            margin-top: 97px;
            max-width: 551px;
            max-height: 454px;
            & h1 {
                font-family: "Harabara";
                font-size: 44px;
                line-height: 60px;
                color: #ffffff;
                letter-spacing: 0.06em;
                margin-bottom: 16px;
            }
            & p {
                @extend .MontserratWeight;
                font-family: "Montserrat";
                line-height: 26px;
                margin-bottom: 40px;
            }
            &__buttons {
                margin-bottom: 60px;
                button:last-child {
                    background: #06b25f;
                    margin-left: 24px;
                }
            }
            &__slider {
                width: 127px;
                & svg:not(.last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
}

.header-navigation {
    padding: $navigatePadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 0.01);
    &__links {
        & ul {
            display: flex;
            justify-content: space-between;
            width: 685px;
            padding-top: 15px;
            & li {
                display: flex;
                align-items: center;
                cursor: pointer;
                & a {
                    @extend .MontserratWeight;
                    line-height: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
    &__contacts {
        margin-top: 15px;
    }
}

services .header-navigation{
    &-logo{
        width: 208px;
        height: 52px;
        background: url('images/services-page/title.svg');
    }
    & a{
        color: #0D6EB7 !important;
    }
    & svg path{
        fill: #0D6EB7;
    }

    & button{
        border: 2px solid #06B25F;
        color: rgba(6, 178, 95, 1);
    }
}