.fontHarabara {
    font-family: "Harabara";
    text-transform: uppercase;
}

.services {
    width: 1127px;
    margin: 0 auto;
    &-content {
        width: inherit;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &-item {
            width: 50%;
            height: 395px;
            margin-bottom: 36px;
            & h2 {
                @extend .fontHarabara;
                font-size: 24px;
                letter-spacing: 0.05em;
                color: #0d6eb7;
            }
            &__text {
                font-family: "Montserrat";
                font-size: 16px;
                line-height: 26px;
                color: #242424;
                text-align: left;
                padding-right: 12px;
                margin-top: 4px;
            }
        }
    }
    & h1 {
        @extend .fontHarabara;
        font-size: 36px;
        letter-spacing: 0.1em;
        color: #194484;
        margin-bottom: 23px;
    }
}

// .services-content-item:nth-of-type(2){
//     background: url('images/services/MaskGroup.svg');
// }
// .services-content-item:nth-of-type(3){
//     background: url('images/services/Mask Group(1).svg');
// }
// .services-content-item:nth-of-type(6){
//     background: url('images/services/illustration3.svg');
// }
// .services-content-item:nth-of-type(7){
//     background: url('images/services/illustration4.svg');
// }
